page-about {
  img.Group_icon {
    width: 70%;
    margin-left: 16%;
    margin-top: 10%;
  }

  .item_details {
    color: #e5636e;
    font-size: 20px;
    font-weight: bold;
    margin-left: 28%;
    margin-top: 30px;
  }

  p.description_text_details {
    text-align: center;
    font-size: 10px;
  }

  button.bar-buttons {
    background: none !important;
    color: white;
  }
  
  .header-icon {
    font-size: 2.5rem;
  }
}
