page-signup {
  img.Group_icon {
    background: #e5636e;
    margin-left: 6px;
    margin-top: 0%;
  }

  .pay_button_inner {
    background-color: white !important;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    color: #e5636e;
    text-transform: none;
    padding: 8%;
    font-size: 26px;
    margin-top: -5%;
  }

  .guest {
    color: white;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin: 4px;
  }
}
