page-menu {
  .main-list-div .item.item-block {
    background: #e5636e;
  }

  .main-list-div {
    background: #e5636e;
  }

  .item-inner {
    border-bottom: none !important;
  }

  .input-wrapper {
    color: white;
  }

  span.menu_text {
    top: 36%;
    left: 26%;
    color: #e6e6e6;
    font-size: 12px;
    position: absolute;
  }

  .new_text {
    width: 18%;
  }

  .main-list-div {
    margin-top: 15px;
  }

  .item_list {
    margin-left: 5px;
  }
}